<footer>
	<div>
		<ul>
			<li>
				<b>AUBAGNE - France</b>
			</li>
			<li>
				<a class="no-underline" target="_blank" href="https://github.com/HCecile"><b>https://github.com/HCecile</b></a>
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<button class=" contactButton">
				<a class="no-underline" target="_blank" href="./contact">
					<h3>Contact</h3>
				</a>
			</button>
		</ul>
	</div>
</footer>
